li a{
    color:white;
    text-decoration: none;
}

li a:hover{
    color: #ffe326;
}

.footer-info{
    color:white !important;
}

.footer {
    background-color: #878787;
    border-top: 1px solid #e5e7eb;
    margin-top: 4rem;
    padding: 2rem 0;
}

.footer p {
    /*text-align: center;*/
    color: #ffffff;
    font-size: 0.875rem;
}